.navbar {
  position: relative;
  z-index: 0;
  list-style-type: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 90%;
  max-width: 50rem;
  margin: -0.4rem auto 0rem auto;
  text-align: center;
}

.navbar li button {
  text-decoration: none;
  color: black;
  font-size: larger;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

button:hover,
button:active,
.active {
  background-color: #9965dd;
  color: #150722;
}
