.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
}

.navbar {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  max-width: 50rem;
  margin: -0.4rem auto 0rem auto;
  transform: translateX(3rem);
  text-align: center;
  flex-grow: 1;
}

.navbar li a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: larger;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

a:hover,
a.active {
  background-color: #9965dd;
  color: #150722;
}

.logout-button {
  background-color: transparent;
  color: white;
  border: none;
  margin-top: -0.6rem;
  padding: 0.7rem 1rem;
  font-size: larger;
  border-radius: 10px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #cc0000;
}
