main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 20px;
  /* padding: 0 10px;*/
}

.nav-buttons button {
  text-decoration: none;
  color: white;
  font-size: medium;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  background-color: #9965dd;
}

.nav-buttons button:hover {
  background-color: #7740aa;
}
