<app-header></app-header>
<app-nav
  *ngIf="!isAuthRoute"
  [selectedItem]="selectedItem"
  (select)="onSelectItem($event)"
>
</app-nav>
<main>
  @if (selectedItem === '') { } @else {
  <router-outlet />
  <div class="nav-buttons" *ngIf="!isAuthRoute">
    <button (click)="onPreviousItem()" *ngIf="!isFirstItem; else placeholder">
      {{ previousItem }}
    </button>
    <ng-template #placeholder>
      <span></span>
    </ng-template>
    <button (click)="onNextItem()" *ngIf="!isLastItem">{{ nextItem }}</button>
  </div>
  }
</main>
