<app-header></app-header>
<app-nav [selectedItem]="selectedItem" (select)="onSelectItem($event)"></app-nav>
<main>
  @if (selectedItem === '') { } @else if (selectedItem === 'Summary') {
    <app-summary></app-summary>
    <div class="nav-buttons">
      <button (click)="onPreviousItem()" *ngIf="!isFirstItem; else placeholder">{{previousItem}}</button>
      <ng-template #placeholder>
        <span></span>
      </ng-template>
      <button (click)="onNextItem()" *ngIf="!isLastItem">{{nextItem}}</button>
    </div>
  } @else {
    <app-expenses [day]="selectedItem"></app-expenses>
    <div class="nav-buttons">
      <button (click)="onPreviousItem()" *ngIf="!isFirstItem; else placeholder">{{previousItem}}</button>
      <ng-template #placeholder>
        <span></span>
      </ng-template>
      <button (click)="onNextItem()" *ngIf="!isLastItem">{{nextItem}}</button>
    </div>
  }
</main>
